# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*.pth


# Actor checkpoints
*.pt
*.npz
*.gif
*.yaml
*.png
*.json
*.wandb
wandb
log